<div class="card-container">
  <div class="card-header">
    <img [src]="country.imageUrl" alt="" />
  </div>
  <div class="card-text">
    <h2>{{ country.name }}</h2>
    <div class="infos">
      <p>
        <span class="card-title">Population: </span>{{ country.population }}
      </p>
      <p><span class="card-title">Region: </span>{{ country.region }}</p>
      <p><span class="card-title">Capital: </span>{{ country.capital }}</p>
    </div>
    <a (click)="onDetails()">More</a>
  </div>
</div>
