<section id="home">
  <div class="section-container">
    <div class="container-filter">
      <form class="search" (keyup)="onSearch()">
        <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
        <input
          type="text"
          placeholder="Search for a country..."
          [(ngModel)]="searchInput"
          name="searchInput"
        />
      </form>
      <div class="btn-menu" appDropdown>
        <div class="btn-text">{{ regionFilterText }}</div>
        <fa-icon [icon]="faAngleDown" class="angle"></fa-icon>
        <ul class="dropdown-list" (click)="onSearchByRegion($event)">
          <li><a>Africa</a></li>
          <li><a>Americas</a></li>
          <li><a>Asia</a></li>
          <li><a>Europe</a></li>
          <li><a>Oceania</a></li>
          <li><a>All</a></li>
        </ul>
      </div>
    </div>
    <div class="spinner-container" *ngIf="!loadedCountries">
      <app-spinner></app-spinner>
    </div>
    <div class="container-cards">
      <app-country-card
        *ngFor="let c of loadedCountries"
        [country]="c"
      ></app-country-card>
    </div>
  </div>
</section>
