#home{
    background-color: var(--bg-primary);
    padding: 0 2rem;
}

.section-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 0;
}

.spinner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-filter{
    display: flex;
    max-width: 1330px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.search {
    position: relative;
    color: var(--text);
}

.search input {
    margin-left: 1rem;
    border: none;
    width: 100%;
    padding: 1rem 2rem 1rem 3rem;
    margin: 8px 0;
    border-radius: .25rem;
    width: 400px; 
    box-shadow: 0px 0px 5px 0px hsl(0, 0%, 0%, .2);
    background-color: var(--elements);
    color: var(--text);
}

.search input:focus {
    outline: none;
}

.search .search-icon {
    position: absolute;
    top: 35%;
    left: 5%;
}

.btn-menu{
    box-shadow: 0px 0px 5px 0px hsl(0, 0%, 0%, .2);
    background-color: var(--elements);
    padding: .9rem 1rem .9rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
    color: var(--text);
    display: flex;
    position: relative;
    width: 160px;
    user-select: none;
}

.btn-menu .btn-text {
    margin-right: 1rem;
}

.dropdown-list{
    padding: .9rem 1rem .9rem 1rem;
    list-style: none;
    position: absolute;
    background-color: var(--elements);
    top: 50px;
    left: 0;
    width: 160px;
    cursor: default;
    display: none;
    box-shadow: 0px 0px 5px 0px hsl(0, 0%, 0%, .2);
}

.dropdown-list li {
    margin-bottom: .25rem;
}

.dropdown-list li a {
    cursor: pointer;
}

.btn-menu.active .dropdown-list {
    display: block;
}

.angle {
    transition: ease-in-out .5s;
}

.btn-menu.active .angle{
    transform: rotate(540deg);
}

.container-cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 4rem 0;
}

@media(max-width: 860px) {
    .container-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(max-width: 560px) {
    .container-cards{
        grid-template-columns: repeat(1, 1fr);
    }
}