<div class="s-container">
  <div class="top-container">
    <div class="btn-back" routerLink="/">
      <fa-icon [icon]="faArrowLeftLong"></fa-icon>
      <a>Back</a>
    </div>
  </div>
  <div class="spinner-container" *ngIf="!country">
    <app-spinner></app-spinner>
  </div>
  <div class="botttom-container" *ngIf="country">
    <img [src]="country.imageUrl" alt="" class="flag" />
    <div class="details">
      <h2>{{ country.name }}</h2>
      <div class="country-info">
        <div class="left-info">
          <p>
            <span class="card-title">Native name: </span
            >{{ country.nativeName }}
          </p>
          <p>
            <span class="card-title">Population: </span>{{ country.population }}
          </p>
          <p><span class="card-title">Region: </span>{{ country.region }}</p>
          <p>
            <span class="card-title">Sub Region: </span>{{ country.subRegion }}
          </p>
          <p><span class="card-title">Capital: </span>{{ country.capital }}</p>
        </div>
        <div class="right-info">
          <p>
            <span class="card-title">Top Level Domain: </span
            >{{ country.topLevelDomain }}
          </p>
          <p>
            <span class="card-title">Currencies: </span>{{ country.currencies }}
          </p>
          <p>
            <span class="card-title">Languages: </span>{{ country.languages }}
          </p>
        </div>
      </div>
      <div class="border-countries">
        <span class="border-title">Border countries: </span>
        <div
          class="border-country"
          *ngFor="let borderCountry of country.borderCountries"
        >
          {{ borderCountry }}
        </div>
      </div>
    </div>
  </div>
</div>
