@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

:root{
    --bg-primary: hsl(0, 0%, 98%);
    --elements: hsl(0, 0%, 100%);
    --input: hsl(0, 0%, 52%);
    --text: hsl(200, 15%, 8%); 
}


:root .dark-theme{
    --elements: hsl(209, 23%, 22%);
    --bg-primary: hsl(207, 26%, 17%);
    --input: hsl(0, 0%, 52%);
    --text: hsl(50, 50%, 100%); 
    --heading: hsl(0, 0, 100%); 
}

body {
    background-color: var(--bg-primary);
}

.text-md{
    font-size: 1.5rem;
}

.text-xl{
    font-size: 2rem;
}
